<ion-header>
  <ion-toolbar>
    <ion-title>
      Groceries
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- This code will create the list of items in my app. -->
<ion-content padding>
    <ion-list>
        <ion-item-sliding>
          <ion-item>
            <h2>Milk</h2>
            <ion-label text-right><h1>Qty: 1</h1></ion-label>
          </ion-item>
          <ion-item-options>
            <button ion-button color="secondary" icon-start>
              <ion-icon name="trash"></ion-icon>
              Done
            </button>
          </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding>
            <ion-item>
              <h2>Bread</h2>
              <ion-label text-right><h1>Qty: 2</h1></ion-label>
            </ion-item>
            <ion-item-options>
              <button ion-button color="secondary" icon-start>
                <ion-icon name="trash"></ion-icon>
                Done
              </button>
            </ion-item-options>
          </ion-item-sliding>
          <ion-item-sliding>
            <ion-item>
              <h3>Eggs</h3>
              <ion-label text-right><h1>Qty: 4</h1></ion-label>
            </ion-item>
            <ion-item-options>
              <button ion-button color="secondary" icon-start>
                <ion-icon name="trash"></ion-icon>
                Done
              </button>
            </ion-item-options>
          </ion-item-sliding>  
          <ion-item-sliding>
            <ion-item>
              <h2>Salad</h2>
              <ion-label text-right><h1>Qty: 3</h1></ion-label>
            </ion-item>
            <ion-item-options>
              <button ion-button color="secondary" icon-start>
                <ion-icon name="trash"></ion-icon>
                Done
              </button>
            </ion-item-options>
          </ion-item-sliding>    
  </ion-list>      
</ion-content>




